### Importação das bibliotecas

In [11]:
import pandas as pd

#Biblioteca para ignorar mensagens de warning (aviso) ao rodar uma célula de código
import warnings
warnings.filterwarnings('ignore')

### Carregando os dados

In [28]:
# importação da base de dados
dados = pd.read_csv('precos_carros_brasil.csv')
#exibindo as primeiras linhas
dados.head()

,year_of_reference,month_of_reference,fipe_code,authentication,brand,model,fuel,gear,engine_size,year_model,avg_price_brl
0,2021.0,January,004001-0,cfzlctzfwrcp,GM - Chevrolet,Corsa Wind 1.0 MPFI / EFI 2p,Gasoline,manual,1,2002.0,9162.0
1,2021.0,January,004001-0,cdqwxwpw3y2p,GM - Chevrolet,Corsa Wind 1.0 MPFI / EFI 2p,Gasoline,manual,1,2001.0,8832.0
2,2021.0,January,004001-0,cb1t3xwwj1xp,GM - Chevrolet,Corsa Wind 1.0 MPFI / EFI 2p,Gasoline,manual,1,2000.0,8388.0
3,2021.0,January,004001-0,cb9gct6j65r0,GM - Chevrolet,Corsa Wind 1.0 MPFI / EFI 2p,Alcohol,manual,1,2000.0,8453.0
4,2021.0,January,004003-7,g15wg0gbz1fx,GM - Chevrolet,Corsa Pick-Up GL/ Champ 1.6 MPFI / EFI,Gasoline,manual,"1,6",2001.0,12525.0

##### Remover a coluna "authentication" pôs este dado não será relevante, uma vez que ele é usado para autenticação no site da tabela File

In [29]:
dados.drop('authentication', axis=1, inplace=True)
dados.head()

,year_of_reference,month_of_reference,fipe_code,brand,model,fuel,gear,engine_size,year_model,avg_price_brl
0,2021.0,January,004001-0,GM - Chevrolet,Corsa Wind 1.0 MPFI / EFI 2p,Gasoline,manual,1,2002.0,9162.0
1,2021.0,January,004001-0,GM - Chevrolet,Corsa Wind 1.0 MPFI / EFI 2p,Gasoline,manual,1,2001.0,8832.0
2,2021.0,January,004001-0,GM - Chevrolet,Corsa Wind 1.0 MPFI / EFI 2p,Gasoline,manual,1,2000.0,8388.0
3,2021.0,January,004001-0,GM - Chevrolet,Corsa Wind 1.0 MPFI / EFI 2p,Alcohol,manual,1,2000.0,8453.0
4,2021.0,January,004003-7,GM - Chevrolet,Corsa Pick-Up GL/ Champ 1.6 MPFI / EFI,Gasoline,manual,"1,6",2001.0,12525.0

##### Verificar se ha dados invalidas

In [30]:
### Verificar se há valores nulos
dados.isna()

,year_of_reference,month_of_reference,fipe_code,brand,model,fuel,gear,engine_size,year_model,avg_price_brl
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
267537,True,True,True,True,True,True,True,True,True,True
267538,True,True,True,True,True,True,True,True,True,True
267539,True,True,True,True,True,True,True,True,True,True
267540,True,True,True,True,True,True,True,True,True,True
267541,True,True,True,True,True,True,True,True,True,True

##### Identificadas muitas linhas sem dados, estas linhas serão removidas.

In [31]:
# Removendo linhas vazias
dados = dados.dropna()
# Verificando se existema mais alguma linha faltando dados
dados.isna().sum()

year_of_reference     0
month_of_reference    0
fipe_code             0
brand                 0
model                 0
fuel                  0
gear                  0
engine_size           0
year_model            0
avg_price_brl         0
dtype: int64

In [32]:
dados.head()

,year_of_reference,month_of_reference,fipe_code,brand,model,fuel,gear,engine_size,year_model,avg_price_brl
0,2021.0,January,004001-0,GM - Chevrolet,Corsa Wind 1.0 MPFI / EFI 2p,Gasoline,manual,1,2002.0,9162.0
1,2021.0,January,004001-0,GM - Chevrolet,Corsa Wind 1.0 MPFI / EFI 2p,Gasoline,manual,1,2001.0,8832.0
2,2021.0,January,004001-0,GM - Chevrolet,Corsa Wind 1.0 MPFI / EFI 2p,Gasoline,manual,1,2000.0,8388.0
3,2021.0,January,004001-0,GM - Chevrolet,Corsa Wind 1.0 MPFI / EFI 2p,Alcohol,manual,1,2000.0,8453.0
4,2021.0,January,004003-7,GM - Chevrolet,Corsa Pick-Up GL/ Champ 1.6 MPFI / EFI,Gasoline,manual,"1,6",2001.0,12525.0

##### Verificando se há dados duplicados

In [35]:
dados.duplicated().any()

np.True_

##### Removendo dados duplicados

In [37]:
dados.drop_duplicates(inplace=True)
dados.duplicated().any()

np.False_

##### Separando colunas numéricas de categóricas

In [40]:
dados.dtypes
numericas = dados.select_dtypes(include=['float64', 'int64'])
categoricas = dados.select_dtypes(include=['object'])

##### Resumo das variáveis numéricas

In [41]:
numericas.describe()

       year_of_reference     year_model  avg_price_brl
count      202295.000000  202295.000000  202295.000000
mean         2021.564695    2011.271514   52756.765713
std             0.571904       6.376241   51628.912116
min          2021.000000    2000.000000    6647.000000
25%          2021.000000    2006.000000   22855.000000
50%          2022.000000    2012.000000   38027.000000
75%          2022.000000    2016.000000   64064.000000
max          2023.000000    2023.000000  979358.000000

##### Resumo das variáveis categóricas

In [42]:
categoricas.describe()

,month_of_reference,fipe_code,brand,model,fuel,gear,engine_size
count,202295,202295,202295,202295,202295,202295,202295
unique,12,2091,6,2112,3,2,29
top,January,001216-5,Fiat,Palio Week. Adv/Adv TRYON 1.8 mpi Flex,Gasoline,manual,"1,6"
freq,24260,425,44962,425,168684,161883,47420

##### Imprimindo a contagem de valores por modelo e marca do carro

In [44]:
dados[['brand','model']].value_counts()

brand            model
Fiat             Palio Week. Adv/Adv TRYON 1.8 mpi Flex    425
Ford             Focus 1.6 S/SE/SE Plus Flex 8V/16V 5p     425
VW - VolksWagen  Saveiro 1.6 Mi/ 1.6 Mi Total Flex 8V      400
Ford             Focus 2.0 16V/SE/SE Plus Flex 5p Aut.     400
GM - Chevrolet   Corvette 5.7/ 6.0, 6.2 Targa/Stingray     375
                                                          ...
VW - VolksWagen  Polo Track 1.0 Flex 12V 5p                  2
Renault          STEPWAY Zen Flex 1.0 12V Mec.               2
VW - VolksWagen  Saveiro Robust 1.6 Total Flex 16V CD        2
                 Gol Last Edition 1.0 Flex 12V 5p            2
Nissan           KICKS Active 1.6 16V Flex Aut.              2
Name: count, Length: 2112, dtype: int64

#### Conclusão:
##### Após a análise exploratória, removemos registros vazios e duplicados, resultando em um conjunto de dados limpo e consistente. As colunas numéricas e categóricas foram separadas para facilitar a análise. Observamos que a base de dados contém informações detalhadas sobre preços de carros no Brasil, com uma variedade de marcas e modelos.